:root {
  --primary-color: #7c6dfc;
  --secondary-color: #e3e1ff;
  --tertiary-color: #30e3df;

  --color-white-smoke: #f5f7fa;
  --color-white: #fff;
  --color-black: #000;

  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Open Sans", sans-serif;

  --section-padding: 10rem 0;

  --section-padding-tab: 8rem 5rem;

  --mg-btm-section-content: 12rem;
  --mg-btm-section-content-tab: 8rem;
}
