.pricing {
  padding-top: 0 !important;
  padding-bottom: 10rem;

  .heading {
    margin-bottom: var(--mg-btm-section-content);

    @media (max-width: 35em) {
      margin-bottom: var(--mg-btm-section-content-tab);
    }
  }
  &__plan {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    @media (max-width: 41em) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 8rem;
    }
  }

  &__plan-name {
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;

    @media (max-width: 70em) {
      font-size: 3.5rem;
    }
  }

  &__price {
    font-family: var(--primary-font-family);
    font-weight: 600;
    font-size: 6rem;
    margin-top: -20px;

    @media (max-width: 50em) {
      margin-top: -15px;
    }
  }

  &__price-span {
    font-size: 1.3rem;
    margin-top: -10px;
    font-weight: 500;
  }

  &__avail {
    font-size: 1.5rem;
    padding: 2.5rem 0;
    flex: 1;
  }

  &__list {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__icon {
    font-size: 2rem;
    fill: var(--primary-color);
    margin-right: 0.6rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    width: 65%;
    padding: 4rem 0;

    @media (max-width: 70em) {
      width: 75%;
    }

    @media (max-width: 50em) {
      width: 90%;
    }

    @media (max-width: 41em) {
      max-width: 70%;
    }

    @media (max-width: 30em) {
      max-width: 100%;
      padding: 6rem 0;
    }

    &--fill {
      // background-color: var(--secondary-color);
      border: none;
      box-shadow: 0 2rem 5rem rgba(#000, 10%);
    }
  }
}
